<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="person" class="com.sda.gf23spring.person.Person">
        <property name="personId" value="${person.id}"/>
        <property name="name" value="${person.name}"/>
    </bean>

    <bean id="logger" class="org.slf4j.LoggerFactory" factory-method="getLogger">
        <constructor-arg value="test"/>
    </bean>

    <bean id="dom" class="com.sda.gf23spring.person.Dom" init-method="init" destroy-method="end">
        <constructor-arg name="id" value="65"/>
        <constructor-arg name="personInt" ref="person"/>
<!--        <property name="id" value="56"/>-->
<!--        <property name="person" ref="person"/>-->
        <property name="logger" ref="logger"/>
    </bean>
</beans>